@{
    ViewData["Title"] = "UserMenuEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
  }
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.min.css" />*@

<section id="basic-vertical-layouts">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Düzenle</h4>
                </div>
                <div class="card-body">
                    <form class="form form-vertical" enctype="multipart/form-data" asp-action="UserMenuEdit" asp-controller="UserMenu" method="post">
                        <div class="row">
                            <div class="col-4">
                                <div class="mb-1">
                                    <label class="form-label" for="first-name-vertical"><h6>Adı Soyadı</h6></label><br />
                                    <input style="display:none" type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="UserMenuId" value="@ViewBag.SelectedMenu.UserMenuId" />
                                    <label>@ViewBag.SelectedMenu.NameSurname</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-1">
                                    <label class="form-label" for="first-name-vertical"><h6>Menü Adı</h6></label><br />
                                    <select name="MenuId" style="height:31px;width:231px;font-size: 19px;" class="form-select form-select-lg" id="selectLarge">
                                        @foreach (var MenuItem in ViewBag.Menu)
                                        {
                                            if (ViewBag.SelectedMenu.MenuId == MenuItem.MenuId)
                                            {
                                                <option selected value="@MenuItem.MenuId">@MenuItem.MenuName</option>
                                            }
                                            else
                                            {
                                                <option value="@MenuItem.MenuId">@MenuItem.MenuName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="col-12" style=" margin-top: 2%;">
                                <button type="submit" class="btn btn-primary me-1">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



